@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.content {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
